<section class="hero">
    <div class="hero__wrapper">
        <div class="hero__headings">
            <h1>Строительство монолитных фундаментов под «Ключ»</h1>
            <h2>В САНКТ-ПЕТЕРБУРГЕ И ЛЕНИНГРАДСКОЙ ОБЛАСТИ</h2>
        </div>
        <div class="hero__guarantee">
            <h3>ДАЕМ ЮРИДИЧЕСКИЕ ГАРАНТИИ:</h3>
            <ul>
                <li>КАЧЕСТВА МАТЕРИАЛОВ</li>
                <li>КАЧЕСТВА РАБОТ</li>
                <li>ФИКСИРОВАННОЙ СМЕТЫ</li>
            </ul>
        </div>
    </div>
</section>
